h1 {color: rgb(179, 115, 203);
    text-align: center;
    text-transform: lowercase;
    font-size: 3em;}

<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond">
<style>
body {
  font-family: "Garamond", serif;
}
</style>
</head>

ul {background-color: lightpink;

}

li {
    color: blueviolet;
    font-weight: 900;
}

.odd {
    color: blue
    text-transform: lowercase;
}

.even {
    color: purple
}

#head5 {color: black}