h1 {color: rgb(179, 115, 203);
    text-align: center;
    text-transform: lowercase;
    font-size: 3em;}

 
{
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

ul {background-color: lightpink;

}

li {
    color: blueviolet;
    font-weight: 900;
}

.odd {
    color: blue
    text-transform: lowercase;
}

.even {
    color: purple
}

#head5 {color: black}