body {
    background-color: papayawhip;
    font-family: Arial, Helvetica, sans-serif;
    color: peru;
}

.fruit {
    color: peru
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {color: rgb(179, 115, 203);
    text-align: center;
    text-transform: lowercase;
    font-size: 3em;}

li {
    color: blueviolet;
    font-weight: 900;
}




